In [1]:
import pandas as pd

In [2]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"
column_names = ["sepal_length", "sepal_width",
 "petal_length", "petal_width", "class"]

iris_df = pd.read_csv(url, header=None, names=column_names)

In [5]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [8]:
iris_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:
iris_df.describe(include="object")

              class
count           150
unique            3
top     Iris-setosa
freq             50

## Яка середня довжина чашелистика (sepal length) для кожного виду ірису?

In [7]:
avg_sepal_length = iris_df.groupby("class")["sepal_length"].mean().sort_values(ascending=False)
avg_sepal_length

class
Iris-virginica     6.588
Iris-versicolor    5.936
Iris-setosa        5.006
Name: sepal_length, dtype: float64

## Яка максимальна ширина листка (petal width) для виду "setosa"?

In [17]:
max_setosa_petal_width = iris_df["petal_width"][iris_df["class"] == "Iris-setosa"].max()
max_setosa_petal_width

np.float64(0.6)

## Яка розподіленість довжини листка (petal length) для всіх ірисів?

In [38]:
pd.cut(iris_df["petal_length"], 5).value_counts()

petal_length
(0.994, 2.18]    50
(4.54, 5.72]     47
(3.36, 4.54]     34
(5.72, 6.9]      16
(2.18, 3.36]      3
Name: count, dtype: int64

## Створіть новий DataFrame, в якому будуть лише дані для ірисів виду "versicolor"

In [25]:
all_versicolor = iris_df[iris_df["class"] == "Iris-versicolor"]
all_versicolor.head()

    sepal_length  sepal_width  petal_length  petal_width            class
50           7.0          3.2           4.7          1.4  Iris-versicolor
51           6.4          3.2           4.5          1.5  Iris-versicolor
52           6.9          3.1           4.9          1.5  Iris-versicolor
53           5.5          2.3           4.0          1.3  Iris-versicolor
54           6.5          2.8           4.6          1.5  Iris-versicolor

## Відфільтруйте дані для ірисів з довжиною листка (petal length) більше 5.0.

In [28]:
length_above_five = iris_df[iris_df["petal_length"] > 5.0]
length_above_five.head()

     sepal_length  sepal_width  petal_length  petal_width            class
83            6.0          2.7           5.1          1.6  Iris-versicolor
100           6.3          3.3           6.0          2.5   Iris-virginica
101           5.8          2.7           5.1          1.9   Iris-virginica
102           7.1          3.0           5.9          2.1   Iris-virginica
103           6.3          2.9           5.6          1.8   Iris-virginica

## Яка середня ширина листка (petal width) для кожного виду ірису?

In [29]:
avg_petal_width = iris_df.groupby("class")["petal_width"].mean().sort_values(ascending=False)
avg_petal_width

class
Iris-virginica     2.026
Iris-versicolor    1.326
Iris-setosa        0.244
Name: petal_width, dtype: float64

## Яка мінімальна довжина чашелистика (sepal length) для кожного виду ірису?

In [30]:
min_sepal_length = iris_df.groupby("class")["sepal_length"].min()
min_sepal_length

class
Iris-setosa        4.3
Iris-versicolor    4.9
Iris-virginica     4.9
Name: sepal_length, dtype: float64

## Скільки ірисів кожного виду мають довжину листка (petal length) більше за середню довжину листка всіх ірисів?

In [36]:
petal_length_mean = iris_df["petal_length"].mean()
petal_length_above_average = iris_df[iris_df["petal_length"] > petal_length_mean]
petal_length_above_average.value_counts(iris_df["class"])

class
Iris-virginica     50
Iris-versicolor    43
Name: count, dtype: int64